body {
    margin: 0;
    padding: 0;
}
  
canvas{
    position: absolute;
    display: block;
    margin: 20px auto;
    border: 1px solid black;
    height: calc(50vh - 40px);
    width: calc(50vh - 40px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

#colorButtons{
    position: absolute;
    top : 30%;
    left : 30%;
    transform: translate(-50%, -50%);
    display: block;
    margin: 20px auto;
    border: 1px solid black;
}