
:root {
    --main: #3db277;
    --secondary: #35031b;
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--secondary);
    font-family: 'Roboto', sans-serif;
    color: var(--main);
}
  
canvas{
    position: inherit;
    left: 50%;
    transform: translate(-50%, 0);
    display: block;
    margin: 20px auto;
    border: 10px solid var(--main);
    height: calc(50vh - 40px);
    width: calc(50vh - 40px);
    border-radius: 3%;
}

#colorButtons{
    position: inherit;
    left : 0;
    display: block;
    margin: 20px auto;
    border: 1px solid black;
    background-color: var(--main);
    color: var(--secondary);
    max-width: 20%;
    border-radius: 3%;
    padding: 2%;
}

#top {
    width: 100%;
    height: 10%;
    background-color: var(--main);
    color: var(--secondary);
    text-align: center;
    font-size: 1.5em;
    padding: 2%;
    position: absolute;
    top : 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.button {
    background-color: var(--main);
    border: 2px solid var(--secondary);
    color: var(--secondary);
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

summary {
   font-size: 1.5em;
}

/*hover for summary*/
summary:hover {
    background-color: var(--main);
    color: var(--secondary);
}

#mainContainer {
    position: absolute;
    left: 20%;
    top: 20%;
    z-index: 99;
    height: auto;
    width: 60%;
}

.individualButtonContainer {
    margin: 6%
}

